#if( $!segmentIOKey != "")
<script type="text/javascript">
window.analytics || (window.analytics = []);
window.analytics.methods = ['identify', 'track', 'trackLink', 'trackForm',
'trackClick', 'trackSubmit', 'page', 'pageview', 'ab', 'alias', 'ready',
'group', 'on', 'once', 'off'];
window.analytics.factory = function (method) {
  return function () {
    var args = Array.prototype.slice.call(arguments);
    args.unshift(method);
    window.analytics.push(args);
    return window.analytics;
  };
};

for (var i = 0; i < window.analytics.methods.length; i++) {
  var method = window.analytics.methods[i];
  window.analytics[method] = window.analytics.factory(method);
}

window.analytics.load = function (apiKey) {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.async = true;
  script.src = ('https:' === document.location.protocol ? 'https://' : 'http://') +
                'd2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/' + apiKey + '/analytics.min.js';

  // Find the first script element on the page and insert our script next to it.
  var firstScript = document.getElementsByTagName('script')[0];
  firstScript.parentNode.insertBefore(script, firstScript);
};

window.analytics.SNIPPET_VERSION = '2.0.8';
window.analytics.load('$segmentIOKey');

var key = jQuery('#key-val').attr("data-issue-key");
if (key) {
  var projectKey = key.split("-")[0];
  var summary = jQuery("#summary-val").text();
  window.analytics.page(projectKey, key + " - " + summary);
} else {
  window.analytics.page();
}
 
#if( $trackLogin )
if ('$baseUrl'.indexOf(document.location.host) != -1) {
  if ((document.referrer.indexOf("login.xml")  != -1 )|| (document.referrer.indexOf("login.jsp") != -1)) {
    window.analytics.identify('$email', {
     email: '$email',
     jira_username: '$username',
     jira_name: '$name',
     jira_last_login: Date.now()
    });
    window.analytics.track('Jira Login');
  }
}
#end

</script>
#end